.contactBlock {
    background-color: #252527;
    display: flex;
    .contactContainer {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            color: white;
        }
        .content {
            display: flex;
            flex-direction: column;
            .contacts {
                p {
                    color: white;
                }
                ul > li {
                    color: #05fdd8;
                    list-style-type: none;
                    a {
                        color: #05fdd8;
                    }
                }

            }
            .form {
                min-width: 280px;
                display: flex;
                flex-direction: column;
                color: white;
                .input {
                    margin-bottom: 10px;
                    background-color: white;
                    border: none;
                }
                .textarea {
                    min-height: 100px;
                    background-color: white;
                    border: none;
                }
                .buttonContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .button {
                        width: 150px;
                        height: 30px;
                        background-color: #05fdd8;
                        text-align: center;
                        border: none;
                        font-weight: bold;
                        font-size: 16px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        color: black;
                    }
                }
            }
        }
    }
}





