.worksBlock {
    min-height: 100vh;
    background-color: #f8c6f4;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}

.works {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}