.mainBlock {
    background-color: #252527;
    padding-top: 79px;
    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        .text {
            color: white;
            max-width: 50%;
            span {
                color: #FF6D05;
                font-size: 26px;
            }
        }
        .photo {
            img {
                border-radius: 65%;
            }
        }
    }

}

@media screen and (max-width: 805px) {
    .wrapper{flex-direction: column-reverse}
    .text{max-width: 100% !important;}
}


