.mainBlock {
    background-color: #172523;
    padding-top: 79px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text {
    /*width: 50%;*/
    color: white;
    max-width: 50%;
}

.text p {
    /*margin-left: 30px;
    margin-bottom: 50px;*/
}

.photo {
    /*margin-right: 100px;*/
}

.photo img {
    border-radius: 65%;
}

@media screen and (max-width: 805px) {
    .wrapper{flex-direction: column-reverse}
    .text{max-width: 100%}
}


