.mainBlock {
    background-color: #172523;
    padding-top: 79px;
}

.text {
    width: 500px;
    color: white;
    margin-left: 110px;
}

.text p {
    margin-left: 30px;
    margin-bottom: 50px;
}

.photo {
    margin-right: 100px;
}

.photo img {
    border-radius: 65%;
}